{% extends 'todoapp/layout.html' %}
{% block content%}
<div class ='container'>
	<h1>Your task list</h1>
	<p> 					- created by Bhargav kumar </p>
	<ul>
	<li>In this page you will find the information of how to use this website.</li>
	<li>Obviously first you need to create an account by signing up and remember your username and password.</li>
	<li>Then you create a task, you can write a description for the memo and set. You can mark the important if its important.</li>
	<li>After finishing the task you can mark the task as completed</li>
	<li>If the task is not finished yet you can add the task back as a new task by clicking 'not complete, re-add'</li>
	</ul>
</div>

{% endblock content %}